<html>
    <head>
        
    </head>
    <body>
        <em>loading...</em>
        <script>
            var Module = {
                wasmBinaryFile: "/todomvc_client.wasm"
            }
        </script>
        <script src="/todomvc_client.js"></script>
    </body>
</html>
